@media ( max-width:  1230px)
    .appCenter
        width: 500px
    .Item__item
        max-width: 34vw !important
    .it 
        max-width: 57vw !important
@media ( max-width:  1090px)
    .appHeader__cover 
        display: block !important
    .appLeft
        position: absolute
        display: none
        background: white
        z-index: 1000000
        left: -100%
    .it, .Item__item
        width: 45vw !important
        max-width: 45vw !important
    .Main-home__heading
        font-size: 55px !important
    .Main-home__subtitle
        font-size: 17px !important
@media ( max-width:  920px)
    .humb
        display: flex !important
    .HorizontalHeader__link
        justify-content: center
        height: 73px !important
        width: 100%
        display: flex
        align-items: center
        font-weight: 600
        font-size: 16px
        color: rgba(0,0,0,.85) !important
        &:hover 
            color: rgba(0,0,0,.85) !important
    .green
        color: rgba(0,0,0,.85) !important
    .HorizontalHeader__wrapper
        position: absolute
        top: 70px
        margin: 0
        width: 100%
        background: white
        flex-direction: column
        z-index: 1000000
        box-shadow: 0 28px 38px 0 rgba(0,0,0,.10)
        border-radius: 5px

    .HorizontalHeader__login
        transition: 0s all !important
        margin: 0 !important
        span
            display: none !important
        p
            padding: 0 !important
    .Main-home__heading
        font-size: 45px !important
    .Main-home__subtitle
        font-size: 16px !important
    .appRight
        box-shadow: 0 6px 20px rgba(0,0,0,.15) 
        background: white
        z-index: 1000000 !important
        width: 70vw !important
        right: 0
        position: absolute !important
    .blockRight__name, .blockRight__description
        margin: 5px 25px
    .HeaderRight__arrow 
        display: block !important
    .form__wrapper
        padding: 0 !important
    .it, .Item__item
        width: 75vw !important
        max-width: 75vw !important
    .HeaderGorizontal__text
        span
            width: 400px !important
@media ( max-width:  820px)
    .about__title
        margin-top: 80px !important
    .Main-home__heading, .Main-home__subtitle, .about__title, .about__subtitle
        text-align: center
    .Main-home
        flex-direction: column
    .buttonGreen
        margin: 0 auto
        margin-bottom: 50px

    .Main-home__img, .about__img
        display: none !important
        margin: 0 auto
        width: 80% !important
        padding-top: 0px !important
@media ( max-width:  620px)
    .about__title
        margin-top: 70px !important
    .container
        width: calc(100% - 55px) !important
    .Main-home__heading, .about__title
        font-size: 35px !important
    .Main-home__subtitle
        font-size: 15px !important
    .it, .Item__item
        width: 62vw !important
        max-width: 62vw !important
    .HeaderGorizontal__text
        span
            width: 280px !important
    .centerView__input
        &::placeholder
            font-size: 12px  !important
    .modalClose
        width: 90%
    .modalClose__wrapper
        margin-left: 0
        justify-content: flex-end
    .boxshadow
        &::after
            right: 10% !important
@media ( max-width:  460px)
    .Main-home__heading
        font-size: 30px !important
    .Main-home__subtitle
        font-size: 15px !important
    .ItemData
        right: 30px !important
    
@media ( max-width:  444px)
    .modalClose__wrapper
        margin-top: 25px
@media ( max-width:  420px)
    .Main-home__heading
        font-size: 30px !important
    .Main-home__subtitle, .about__subtitle
        font-size: 14px !important
    .ItemData
        right: 3% !important
    .modalClose
        width: 98%
    .appRight
        width: 100vw !important
    .form__wrapper
        box-sizing: border-box
        width: 100% !important
        padding: 0 30px !important
        overflow-x: hidden 
    .it, .Item__item
        width: 50vw !important
        max-width: 50vw !important
    .HeaderGorizontal__text
        span
            width: 180px !important

    .modalClose__confirm, .modalClose__close
        font-size: 14px
@media ( max-width:  350px)
    .buttonGreen
        width: 100% !important
    .ItemData
        right: 7% !important
        