@media ( max-width:  1299px)
    .Item__item
        width: 32vw !important
        max-width: 32vw !important
    .it
        width: 55vw !important
        max-width: 55vw !important
@media ( max-width:  1090px)
    .appLeft
        position: absolute
        display: none
        background: white
        z-index: 1000000
        left: -100%
    .it, .Item__item
        width: 45vw !important
        max-width: 45vw !important
@media ( max-width:  920px)
    .appRight
        box-shadow: 0 6px 20px rgba(0,0,0,.15) 
        background: white
        z-index: 1000000 !important
        width: 70vw !important
        right: 0
        position: absolute !important
    .blockRight__name, .blockRight__description
        margin: 5px 25px
    .HeaderRight__arrow 
        display: block !important
    .form__wrapper
        padding: 0 !important
    .it, .Item__item
        width: 75vw !important
        max-width: 75vw !important
    .HeaderGorizontal__text
        span
            width: 400px !important
@media ( max-width:  620px)
    .it, .Item__item
        width: 62vw !important
        max-width: 62vw !important
    .HeaderGorizontal__text
        span
            width: 280px !important
@media ( max-width:  420px)
    .appRight
        width: 100vw !important
    .form__wrapper
        box-sizing: border-box
        width: 100% !important
        padding: 0 30px !important
        overflow-x: hidden 
    .it, .Item__item
        width: 50vw !important
        max-width: 50vw !important
    .HeaderGorizontal__text
        span
            width: 180px !important